<h1>あなたのタスク一覧</h1>

<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.id, task %> : <!--<%= task.status %>--!> &gt; <%= task.content %></li>
  <% end %>
</ul>

<%= link_to 'タスクの作成', new_task_path %>
<%= link_to 'ログアウト', logout_path ,method: :delete %>
<!--
<%= link_to '新規ユーザー登録', signup_path, class: 'btn btn-lg btn-primary' %>
-->
